In [2]:
import sys

tuple_eg = (1,2,3,4,5)

print("Tuple size: ",sys.getsizeof(tuple_eg))

list_eg = [1,2,3,4,5]

print("List size: ",sys.getsizeof(list_eg))

Tuple size:  80
List size:  96

In [8]:
import timeit

list_test = timeit.timeit(stmt="[1,2,3,4,5]",number=1000000)

print("List consume time: ",list_test)

tuple_test = timeit.timeit(stmt="(1,2,3,4,5)",number=1000000)

print("List consume time: ",tuple_test)

List consume time:  0.07869693099928554
List consume time:  0.01251194500218844

In [12]:
name = ('meheid','hasan','mahin')

fname = name[0]
lname = name[-1]
print("First Name:",fname,",Last name:",lname)

first_name,_,last_name=name
print("First name:",first_name)

First Name: meheid ,Last name: mahin
First name: meheid

In [13]:
traveler_ids = [('USA', '31195855'), ('BRA', 'CE342567'),('ESP', 'XDA205856')]

for passport in sorted(traveler_ids):
    print('%s / %s'%passport)

BRA / CE342567
ESP / XDA205856
USA / 31195855

In [16]:
for country , _ in traveler_ids:
    print(country)
    print(_)

('USA', '31195855')
XDA205856
('BRA', 'CE342567')
XDA205856
('ESP', 'XDA205856')
XDA205856

In [25]:
divmod(20,8)

t = divmod(20,8)

divmod(*t)

(0, 2)

In [18]:
import os
_ , filename= os.path.split('/home/luciano/.ssh/idrsa.pub')

In [19]:
print(filename)

idrsa.pub

In [20]:
print(_)

/home/luciano/.ssh

In [26]:
a,b,*test = range(6)

In [27]:
a

0

In [28]:
b

1

In [30]:
test

[2, 3, 4, 5]

In [31]:
a,b,test

(0, 1, [2, 3, 4, 5])

In [33]:
a,*b,c,d = range(10)

In [34]:
a

0

In [35]:
b

[1, 2, 3, 4, 5, 6, 7]

In [36]:
metro_areas = [
 ('Tokyo', 'JP', 36.933, (35.689722, 139.691667)), #
 ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
 ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
 ('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
 ('Sao Paulo', 'BR', 19.649, (-23.547778, -46.635833)),]

In [37]:
metro_areas

[('Tokyo', 'JP', 36.933, (35.689722, 139.691667)),
 ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
 ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
 ('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
 ('Sao Paulo', 'BR', 19.649, (-23.547778, -46.635833))]

In [38]:
print('{:15} | {:^9}'.format('','lat.','long.'))

                |   lat.

In [39]:
fmt = '{:15} | {:9.4f} | {:9.4f}'

In [40]:
fmt

'{:15} | {:9.4f} | {:9.4f}'

In [43]:
for name, cc, pop, (latitude, longitude) in metro_areas: #
    if longitude <= 0: #
        print(fmt.format(name, latitude, longitude))

Mexico City     |   19.4333 |  -99.1333
New York-Newark |   40.8086 |  -74.0204
Sao Paulo       |  -23.5478 |  -46.6358